<!DOCTYPE html>
<html>
<head>
  <title></title>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">

</head>
<body>
<div>
  <h1>New Car Page</h1>

  <form action="/cars" method="POST">
    Make: <input type="text" name="make"><br/>
    Model: <input type="text" name="model"><br/>
    Year: <input type="text" name="year">
    <input type="submit">
  </form>
</div>

</body>
</html>
