<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Car Show Page</h1>
   <%= cars.make %>  <%= cars.model%> <%= cars.year%>
   <br>
   <a href="http://localhost:3000/cars">Home</a>

</body>
</html>
